body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f3f3f3;
}

header {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 20px 0;
}

header h1 {
    margin: 0;
}

main {
    max-width: 800px;
    margin: 20px auto;
    padding: 0 20px;
}

img {
    max-width: 100%;
    height: auto;
    display: block;
    margin: 20px auto;
}

video {
    max-width: 100%;
    height: auto;
    display: block;
    margin: 20px auto;
}

audio {
    display: none; /* Oculta o player de áudio */
}

blockquote {
    font-style: italic;
    margin-top: 20px;
    padding-left: 20px;
    border-left: 4px solid #333;
}

.highlight {
    color: #333;
}